/* import font */
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300;400;500;600;700&display=swap");

@font-face {
  font-family: Norse-Bold;
  src: url("font/Norse-Bold.otf");
}

/* default style */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  /* outline: 1px solid red; */
}

body {
  font-family: "Noto Sans", sans-serif;
}

.container {
  display: flex;
  min-height: 100vh;
}

/* left container style */
.container .left {
  display: flex;
  flex-direction: column;
  flex: 2;
  background-image: url("img/leaf-background.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.container .left .logo-container {
  display: flex;
  background-color: rgba(0, 0, 0, 0.5);
  margin-top: 22vh;
  padding: 1rem 0;
  justify-content: center;
  align-items: center;
}

.container .left .logo-container .odin-logo {
  width: 5rem;
  height: auto;
}

.container .left .logo-container .odin-title {
  font-family: "Norse-Bold";
  color: #fff;
  font-size: 5rem;
}

.container .left .credit {
  padding: 1rem;
  font-size: 1rem;
  color: #fff;
  text-align: center;
  margin-top: auto;
}

.container .left .credit a {
  color: #fff;
}

/* right container style */
.container .right {
  background-color: #f9fafb;
  flex: 4;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.container .right .text-info {
  font-weight: bold;
  font-size: 1.3rem;
  padding: 2rem 3rem;
}

.container .right .text-info p:nth-of-type(3) {
  margin-top: 1.5rem;
}

/* input section style */
.container .right .form-section .input-section {
  background-color: #fff;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  padding: 2rem 3rem;
  box-shadow: 0 5px 5px 4px rgba(0, 0, 0, 0.1);
}

.container .right .form-section .input-section p {
  width: 100%;
  text-align: left;
  font-size: 1.3rem;
  font-weight: bold;
}

.container .right .form-section .input-section .inputs {
  display: flex;
  flex-direction: column;
  width: 35%;
}

.container .right .form-section .input-section .inputs input:focus {
  border: 1px solid blue;
}

.container .right .form-section .input-section .inputs label {
  text-transform: uppercase;
}

.container .right .form-section .input-section .inputs input {
  border: 1px solid #e5e7eb;
  border-radius: 4px;
  padding: 4px 7px;
  font-size: 14px;
}

/* button container style */
.container .right .form-section .button-container {
  padding: 2rem 3rem;
}

.container .right .form-section .button-container button {
  border: none;
  background-color: #596d48;
  padding: 12px 48px;
  border-radius: 8px;
  box-shadow: 2px 5px 5px 4px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  color: white;
  font-size: 1rem;
  font-weight: bold;
}

.container .right .form-section .button-container p {
  font-weight: 500;
  margin-top: 1.5rem;
}

.container .right .form-section .button-container a {
  color: #596d48;
  text-decoration: none;
}
